<div class="items-display">
  <h2 id="restaurant-name"></h2>
  <div class="card-details">
    <span>4.0(1+k ratings)</span>
    <span><b>Oulet</b> Hosur</span>
    <div><b>25-30 MINS</b></div>
    <p>Order above 149 for discounted delivery fee</p>
  </div>

  <h2>Top picks</h2>
  <img
    src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_292,h_300/TopPicks/Cmb1Veg"
    alt="Combo for 1 Veg"
    aria-hidden="true"
  />
  <img
    src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_292,h_300/TopPicks/CknPotRic"
    alt="Chicken Pot Rice"
    aria-hidden="true"
  />
  <img
    src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_292,h_300/TopPicks/PnrPotRic"
    alt="Paneer Pot Rice"
    aria-hidden="true"
  />
<div id="info-div" class="item-info-div"></div> 
</div>
